.jumbotron {
    margin-bottom: 0px;
    background-image: url("resources/Wedas_img.jpeg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 25%;
    padding-bottom: 25%;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}